.btn-true {
	font-size: 12px;
	font-weight: 800;
	font-family: "Montserrat";
	display: flex;
	align-items: center;
	border-bottom: 2px solid black;
	border-radius: 0px;
	margin-right: 20px;
}

.btn-false {
	font-size: 12px;
	font-weight: 800;
	font-family: "Montserrat";
	display: flex;
	align-items: center;
	border-bottom: 2px solid transparent;
	border-radius: 0px;
	margin-right: 20px;
}

.box-ingredients-header {
	display: flex;
	justify-content: flex-start;
	margin: 10px;
}

.ulIngredients {
	padding: 10px;
	margin: 20px;
	column-count: 2;
}


